<footer>
    <section class="footer">
        <a href="https://github.com/m-hodges">
            <i class="fab fa-github footer__icon"></i>
        </a>
        <a href="https://www.linkedin.com/in/michael-hodges-124089b4">
            <i class="fab fa-linkedin footer__icon"></i>
        </a>
        <a href="mailto: michaelcshodges@gmail.com">
            <i class="fas fa-envelope footer__icon"></i>
        </a>
    </section>
</footer>