<nav>
    <div class="navbar">
        <h2 class="navbar__title">
            <a href="/">
                Home
            </a>
        </h2>
        <h2 class="navbar__menu">
            Technical Blogs
        </h2>
        <h2 class="navbar__menu">
            Cultural Blogs
        </h2>
    </div>
</nav>


{{!-- onmouseover - to display menu items --}}
{{!-- onmouseout - on the overall div, not just the title - to hide the menu items --}}