body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #1a1a1a;
}

h1 {
  font-family: "Abel", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

.blog {
  display: flex;
}

@media (max-width: 450px) {
  .blog {
    height: 250px;
    width: 100vw;
    position: relative;
  }

  .blog__image {
    height: 100%;
    width: 100%;
    filter: blur(0.75px) opacity(90%);
  }
  .blog__image--container {
    display: none;
  }

  .blog__text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
  }
  .blog__text--title {
    font-size: 46px;
    margin: 0;
    text-shadow: 2px 2px 1px black;
  }
  .blog__text--month {
    margin-top: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid white;
  }
  .blog__text--year {
    margin-top: 1px;
    margin-bottom: 0;
  }
  .blog__text--description--hidden {
    display: none;
  }

  hr {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 0;
    color: white;
  }

  .navbar__menu {
    display: none;
  }
}
@media (min-width: 450px) {
  .blog {
    height: 350px;
    width: 100vw;
  }

  .blog__image {
    display: none;
  }
  .blog__image--container {
    min-height: 100%;
    min-width: 67.5%;
    max-width: 100%;
    background-color: gray;
  }

  .blog__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 10px;
    padding: 10px;
    overflow: hidden;
    position: relative;
  }
  .blog__text--right-aligned {
    text-align: left;
  }
  .blog__text--right-aligned h1 {
    display: flex;
    align-self: flex-start;
  }
  .blog__text--right-aligned .blog__text--month {
    display: flex;
    align-self: flex-start;
  }
  .blog__text--left-aligned {
    text-align: right;
  }
  .blog__text--left-aligned h1 {
    display: flex;
    align-self: flex-end;
  }
  .blog__text--left-aligned .blog__text--month {
    display: flex;
    align-self: flex-end;
  }
  .blog__text--title {
    color: #d6d6d6;
    font-size: 52px;
    margin: 10px 0px 0px 0px;
  }
  .blog__text--month {
    color: #d6d6d6;
    font-size: 20px;
    margin: 0;
    margin-top: 17.5px;
    border-bottom: 1px solid #d6d6d6;
  }
  .blog__text--year {
    color: #d6d6d6;
    font-size: 20px;
    margin: 0;
  }
  .blog__text--description {
    color: #d6d6d6;
  }
  .blog__text--description--fade {
    position: relative;
    height: 110px;
    overflow: hidden;
  }
  .blog__text--description--fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 19px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #1a1a1a 75%);
  }

  hr {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0;
    color: #d6d6d6;
  }
}
nav {
  height: 10vh;
  width: 100vw;
}

.navbar {
  height: 10vh;
  width: 100vw;
  background-color: #1a1a1a;
  color: #666666;
  position: fixed;
  z-index: 999;
}
.navbar__title {
  float: left;
  font-size: 36px;
  margin: 25px 20px;
}
.navbar__title:hover {
  color: #d6d6d6;
}
.navbar__menu {
  float: right;
  margin-right: 40px;
  margin-top: 30px;
}
.navbar__menu:hover {
  color: #d6d6d6;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #1a1a1a;
}
.footer__icon {
  font-size: 40px;
  margin: auto 10px;
  color: #666666;
}
.footer__icon:hover {
  color: #d6d6d6;
}

/*# sourceMappingURL=main.css.map */
