// put layout and default styling here

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: gray;
}

h1 {
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}

.blog {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: gray;
    &__icon {
        font-size: 40px;
        margin: auto 10px;
        color: rgb(46, 46, 46);
        &:hover {
            color: white;
        }
    }
}

@media (max-width: 500px) {
    .blog {
        height: 250px;
        width: 100vw;
        position: relative;
    }
    .blog__image {
        height: 100%;
        width: 100%;
        filter: blur(0.75px) opacity(90%);
        &--container {
            display: none;
        }
    }
    .blog__text {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        overflow: hidden;
        &--title {
            font-size: 46px;
            margin: 0;
            text-shadow: 2px 2px 1px black;
        }
        &--month {
            margin-top: 5px;
            margin-bottom: 0;
            border-bottom: 1px solid white;
        }
        &--year {
            margin-top: 1px;
            margin-bottom: 0;
        }
        &--description--hidden {
            display:none;
        }
    }
    hr {
        width: 100%;
        margin-top: 2px;
        margin-bottom: 0;
        color: white;
    }
}

@media (min-width: 500px) {
    .blog {
        height: 350px;
        width: 100vw;
        // &:hover {
        //     height: 500px;
        // }
    }
    .blog__image {
        display: none;
        &--container {
            min-height: 100%;
            min-width: 70%;
            max-width: 100%;
            background-color: gray;
            &:nth-of-type(1) {
                background: url("https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=8");
                background-size: 100%;
            }
            &:nth-of-type(2) {
                background: url("https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
                background-size: 100%;
            }
            &:nth-of-type(3) {
                background: url("https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
                background-size: 100%;
            }
        }
    }
    .blog__text {
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
        padding: 10px;
        overflow: hidden;
        position: relative;
        width: 100%;
        &--right-aligned {
            text-align: left;
        }
        &--left-aligned {
            text-align: right;
        }
        &--title {
            font-size: 46px;
            margin: 10px 0px 0px 0px;
        }
        &--month {
            font-size: 20px;
            margin: 0;
            margin-top: 10px;
            border-bottom: 1px solid black;
        }
        &--year {
            font-size: 20px;
            margin: 0;
        }
        &--description {
            position: absolute;
            margin-right: 10px;
            top: 50%;
            &:hover {
                top: 35%;
                // &.blog {
                //     height: 500px;
                // }
            }
        }
    }
    hr {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
    }
}