// put layout and default styling here

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.blog {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
}

@media (max-width: 350px) {
    .blog__image {
        height: 100%;
        width: 100%;
    }
    .blog__text {
        padding: 10px;
        color: white;
        text-shadow: 2px 2px 1px black;
    }
    h1 {
        font-size: 46px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px;
        padding: 0;
    }
    .blog__description {
        text-align: center;
        &--hidden {
            display:none;
        }
    }
}

@media (min-width: 350px) {
    .blog__image {
        height: 100%;
        max-width: 70%;
    }
}