// put layout and default styling here

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #1a1a1a;
}

h1 {
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}

.blog {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #1a1a1a;
    &__icon {
        font-size: 40px;
        margin: auto 10px;
        color: #666666;
        &:hover {
            color: #d6d6d6;
        }
    }
}

@media (max-width: 450px) {
    .blog {
        height: 250px;
        width: 100vw;
        position: relative;
    }
    .blog__image {
        height: 100%;
        width: 100%;
        filter: blur(0.75px) opacity(90%);
        &--container {
            display: none;
        }
    }
    .blog__text {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        overflow: hidden;
        &--title {
            font-size: 46px;
            margin: 0;
            text-shadow: 2px 2px 1px black;
        }
        &--month {
            margin-top: 5px;
            margin-bottom: 0;
            border-bottom: 1px solid white;
        }
        &--year {
            margin-top: 1px;
            margin-bottom: 0;
        }
        &--description--hidden {
            display:none;
        }
    }
    hr {
        width: 100%;
        margin-top: 2px;
        margin-bottom: 0;
        color: white;
    }
}

@media (min-width: 450px) {
    .blog {
        height: 350px;
        width: 100vw;
        // &:hover {
        //     height: 500px;
        // }
    }
    .blog__image {
        display: none;
        &--container {
            min-height: 100%;
            min-width: 70%;
            max-width: 100%;
            background-color: gray;
            // &:nth-of-type(1) {
            //     background: url("https://images.unsplash.com/photo-1505685296765-3a2736de412f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
            //     background-size: 100%;
            // }
            // &:nth-of-type(2) {
            //     background: url("https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
            //     background-size: 100%;
            // }
            &--sprint4_core {
                // position: relative;
                // bottom: 10px;
                background: url(../blog/sprint4_core/pawel-czerwinski-Q5oCIFL2xKc-unsplash.jpg);
                background-size: 100%;
            }
            &--sprint3_technical {
                background: url(../blog/sprint3_technical/markus-spiske-xekxE_VR0Ec-unsplash.jpg);
                background-size: 100%;
            }
            &--sprint3_core {
                background: url(../blog/sprint3_core/luis-galvez-I8gQVrDcXzY-unsplash.jpg);
                background-size: 100%;
            }
            &--sprint2_technical {
                background: url(../blog/sprint2_technical/pankaj-patel-6JVlSdgMacE-unsplash.jpg);
                background-size: 100%;
            }
            &--sprint2_core {
                background: url(../blog/sprint2_core/david-travis-WC6MJ0kRzGw-unsplash.jpg);
                background-size: 100%;
            }
            &--sprint1_core {
                background: url(../blog/sprint1_core/carson-arias-7Z03R1wOdmI-unsplash.jpg);
                background-size: 100%;
            }
        }
    }
    .blog__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px 10px;
        padding: 10px;
        overflow: hidden;
        position: relative;
        &--right-aligned {
            text-align: left;
        }
        &--left-aligned {
            text-align: right;
        }
        &--title {
            color: #d6d6d6;
            // display: inline-block;
            font-size: 52px;
            margin: 10px 10px 0px 0px;
        }
        &--month {
            color: #d6d6d6;
            font-size: 20px;
            margin: 0;
            margin-top: 17.5px;
            border-bottom: 1px solid #d6d6d6;
        }
        &--year {
            color: #d6d6d6;
            font-size: 20px;
            margin: 0;
        }
        &--description {
            color: #d6d6d6;
            position: absolute;
            margin-right: 10px;
            padding-right: 10px;
            top: 50%;
            // &:hover {
            //     top: 35%;
            //     &.blog {
            //          height: 500px;
            //     }
            // }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                // top: 50%;
                pointer-events: none;
                background: linear-gradient(transparent, #1a1a1a);
                // &:hover {
                //     display: none;
                // }
            }
        }
    }
    hr {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 0;
        color: #d6d6d6;
    }
}


//Color Pallette
// #1A1A1A - Eerie Black
// #333333 - Jet
// #4D4D4D - Dark Liver
// #666666 - Granite Gray
// #808080 - Trolley Grey
// #828282 - Old Silver
// #9E9E9E - Spanish Gray
// #BABABA - X11 Gray
// #D6D6D6 - Light Gray
// #F2F2F2 - Anti-Flash White