body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: gray;
}

h1 {
  font-family: "Abel", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

.blog {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: gray;
}
.footer__icon {
  font-size: 40px;
  margin: auto 10px;
  color: #2e2e2e;
}
.footer__icon:hover {
  color: white;
}

@media (max-width: 350px) {
  .blog {
    height: 250px;
    width: 100vw;
    position: relative;
  }

  .blog__image {
    height: 100%;
    width: 100%;
    filter: blur(0.75px) opacity(90%);
  }
  .blog__image--container {
    display: none;
  }

  .blog__text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
  }
  .blog__text--title {
    font-size: 46px;
    margin: 0;
    text-shadow: 2px 2px 1px black;
  }
  .blog__text--month {
    margin-top: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid white;
  }
  .blog__text--year {
    margin-top: 1px;
    margin-bottom: 0;
  }
  .blog__text--description--hidden {
    display: none;
  }

  hr {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 0;
    color: white;
  }
}
@media (min-width: 350px) {
  .blog {
    height: 350px;
    width: 100vw;
  }

  .blog__image {
    display: none;
  }
  .blog__image--container {
    min-height: 100%;
    min-width: 70%;
    max-width: 100%;
    background-color: gray;
  }
  .blog__image--container:nth-of-type(1) {
    background: url("https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=8");
    background-size: 100%;
  }
  .blog__image--container:nth-of-type(2) {
    background: url("https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-size: 100%;
  }
  .blog__image--container:nth-of-type(3) {
    background: url("https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: 100%;
  }

  .blog__text {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .blog__text--right-aligned {
    text-align: left;
  }
  .blog__text--left-aligned {
    text-align: right;
  }
  .blog__text--title {
    font-size: 46px;
    margin: 10px 0px 0px 0px;
  }
  .blog__text--month {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    border-bottom: 1px solid black;
  }
  .blog__text--year {
    font-size: 20px;
    margin: 0;
  }
  .blog__text--description {
    position: absolute;
    margin-right: 10px;
    top: 50%;
  }
  .blog__text--description:hover {
    top: 35%;
  }

  hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
