//put all stand-alone footer styling here

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #1a1a1a;
    &__icon {
        font-size: 40px;
        margin: auto 10px;
        color: #666666;
        &:hover {
            color: #d6d6d6;
        }
    }
}