//put all media query styling for tablet breakpoints here

@media (min-width: 481px) and (max-width: 1249px) {
    .blog {
        height: 250px;
        width: 100vw;
    }
    .blog__image {
        display: none;
        &--container {
            min-height: 100%;
            min-width: 60%;
            max-width: 100%;
            background-color: gray;
        }
    }
    .blog__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 10px;
        padding: 10px;
        overflow: hidden;
        position: relative;
        justify-content: center;
        &--right-aligned {
            text-align: left;
            & h1 {
                display: flex;
                align-self: flex-start;
                margin-right: 20px;
            }
            & .blog__text--month {
                display: flex;
                align-self: flex-start;
            }
        }
        &--left-aligned {
            text-align: right;
            & h1 {
                display: flex;
                align-self: flex-end;
                margin-left: 20px;
            }
            & .blog__text--month {
                display: flex;
                align-self: flex-end;
            }
        }
        &--title {
            color: #d6d6d6;
            font-size: 45px;
            margin: 10px 0px 0px 0px;
        }
        &--month {
            color: #d6d6d6;
            font-size: 20px;
            margin: 0;
            margin-top: 17.5px;
            border-bottom: 1px solid #d6d6d6;
        }
        &--year {
            color: #d6d6d6;
            font-size: 20px;
            margin: 0;
            overflow: hidden;
        }
        &--description--hidden {
            display:none;
        }
    }
    hr {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 0;
        color: #d6d6d6;
    }
}